body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 800px;
  background-color: #fff;
  color: #000;
  line-height: 1.6;
  font-size: 14px;
}

.main-title {
  text-align: center;
  margin-bottom: 20px;
}

.divAssinatura {
  overflow: visible;
  max-height: none;
}

h1 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
  background-color: #ccc;
  padding: 10px;
  border-radius: 8px;
}

p,
li {
  text-align: initial;
  margin: 20px 0;
  font-size: 16px;
}

section.main-title {
  margin-bottom: 20px;
  background-color: #69ac93;
  color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

#orcamentoArea,
#orcamentoArea * {
  page-break-inside: avoid;
}

#orcamentoArea {
  margin-top: 0;
  padding-top: 0;
  display: block;
  align-items: center; 
  justify-content: flex-start; 
  min-height: 100vh;
}

h2,
h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  background: #69ac93;
}

#listaProdutos {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #cccb;
  padding: 10px;
  border-radius: 5px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input {
  padding: 8px;
  color: #000;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.forma-pagamento input {
  background-color: white;
}

.forma-pagamento label {
  margin-top: 10px;
}

.forma-pagamento {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.produto {
  background-color: #f1f1f1;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.produto label {
  margin-top: 10px;
}

.produto input {
  background-color: white;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img,
canvas {
  max-width: 100%;
  height: auto;
  display: block;
  page-break-inside: avoid;
}

button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #69ac93;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 5px 0;
}

@media print {
  body {
    width: 21cm;
    height: 29.7cm;
    margin: 1.5cm;
    font-size: 12px;
    color: #000;
    background: #fff;
  }


  button,
  #modoEdicao {
    display: none; /* oculta botões e campos de edição na impressão */
  }

  #orcamentoTexto {
    page-break-inside: avoid;
  }

  canvas {
    border: 1px solid #000;
    display: block;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    height: 150px;
  }

  #assinaturaImg {
    display: block;
    margin: 10px auto;
    max-width: 100px;
    height: auto;
  }

  #linkAssinaturaContainer {
    margin-top: 20px;
    display: none;
  }
}

  #botaoAssinatura {
  display: inline-block;
  padding: 10px 15px;
  background-color: #69ac93;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
 

 #botaoAssinatura:hover {
  background-color: #053033;
}
